<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">
        <a class="govuk-link--text-colour"
           href="{{ fn.resultPath(result.otherIds.crn) }}"
           title="Restricted access">Restricted access</a>
    </th>
    <td class="govuk-table__cell">{{ result.otherIds.crn }}</td>
    <td class="govuk-table__cell"></td>
    {% for column in params.results.extraColumns %}
        <td class="govuk-table__cell"></td>
    {% endfor %}
</tr>