name: Build
on: push

jobs:
  build:
    name: Build
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x, lts/*]
      fail-fast: false

    runs-on: ubuntu-latest
    permissions:
      contents: read # to checkout repo
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm clean-install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Test
        run: npm test